
<h1> Assignment 3 - Directives</h1>
<h3>Tasks</h3>

<section>
  <ol>
    <li>Add a button which says Display Details</li>
    <li>Add a paragraph of your choice</li>
    <li>Toggle the display of the paragraph with the button click</li>
    <li>Log all button clicks in an array and output that array below the paragraph(try using a timestamp or a incremental number</li>
    <li>Starting at the 5th log item,give all future log items a blue backround(via ngStyle) and white color (via ngClass)</li>
  </ol>
</section>

<button (click) = "onClickBuddy()">Display Details</button>
<p *ngIf = "toggle">Secret password = holt</p>
<p *ngFor = "let i of toggleArray let order = index" [ngStyle]="{backgroundColor: order >=4 ? 'blue' : 'transparent'}"
  [ngClass] = "{'inline-color': order >=4 }"  > {{i}}
</p>
