<div class="container">
  <div class="row">
    <app-game-control (oddeven)="onIncrement($event)"
    ></app-game-control>
    <!-- <p *ngFor="let items of arraybro"></p> -->
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <app-odd *ngFor="let elementz of oddarray" [oddie] = "elementz"></app-odd>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <app-even *ngFor="let elementz of evenarray" [evie] = "elementz"></app-even>
    </div>
  </div>
</div>

<!-- (oddeven)="numeral($event)" -->
